---

---

@import "minimal-mistakes"; // main partials

html {
    font-size: 14px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 14px; // when screen size is less than medium
    }
  
    @include breakpoint($large) {
      font-size: 16px; // less than large 
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // less than x-large
    }
  }